In [1]:
import pandas as pd
pd.set_option('precision',7)

def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

# Gathering Statistics

In [2]:
def slim_table(filename, season, player_type):
    full = pd.read_excel(filename)
    
    # Adjusting all player type tables
    full['Full Name'] = full['First Name'] + " " + full['Last Name']
    if filename != 'NHL Data 1967-2014.xls':
        full['Season'] = season
    
    # Adjusting goalie tables
    if player_type == "goalie":
        full.rename(columns={'MIN': 'TOI', "GPS" : "PS"}, inplace=True)
        
        if filename == 'NHL Goalies 2014-15.xls':
            full.rename(columns={'All Tm': 'Team'}, inplace=True)
            
        if filename == "NHL Goalies 2015-16.xls":
            full.rename(columns={'TOI': 'TOI (seconds)'}, inplace=True)
            full['TOI'] = full['TOI (seconds)'] / 60
    
    # Adjusting skater tables
    elif player_type == "skater" and filename != 'NHL Data 1967-2014.xls':
        full.rename(columns={'Teams': 'Team'}, inplace=True)
        
        if filename == "NHL 2015-16.xls":
            full.rename(columns={'TOI': 'TOI (seconds)'}, inplace=True)
            full['TOI'] = full['TOI (seconds)'] / 60
    
    # Calculate catch-all statistics
    full['PS/60'] = full['PS'] / full['TOI'] * 60
#     full['GVT/60'] = full['GVT'] / full['TOI'] * 60
    
    # Select important columns
    slim = full[['Full Name', 'Season', 'Team', 'TOI', 'PS', 'PS/60']]
    
    return slim

In [3]:
master = slim_table('NHL Data 1967-2014.xls', 'multiple', 'skater')

In [4]:
# Since 2001
master = master.loc[master['Season'] > '2001']
master.head()

                Full Name   Season Team   TOI   PS      PS/60
19823         Craig Adams  2001-02  CAR   195 -0.1 -0.0307692
19824         Kevyn Adams  2001-02  TOT   887  0.8  0.0541150
19825  Dmitry Afanasenkov  2001-02  TBL    25 -0.1 -0.2400000
19826    Maxim Afinogenov  2001-02  BUF  1245  4.4  0.2120482
19827       Tommy Albelin  2001-02  NJD   560  1.3  0.1392857

In [5]:
skaters_1415 = slim_table('NHL 2014-15.xls', '2014-15', 'skater')
skaters_1415.head()
# print_full(skaters_1415)

           Full Name   Season Team           TOI   PS      PS/60
0  Justin Abdelkader  2014-15  DET  1271.6000000  5.6  0.2642340
1         Will Acton  2014-15  EDM    32.1333333 -0.1 -0.1867220
2          Luke Adam  2014-15  CBJ    19.3333333  0.0  0.0000000
3        Craig Adams  2014-15  PIT   682.1833333 -0.3 -0.0263859
4    Andrew Agozzino  2014-15  COL     9.7500000  0.1  0.6153846

In [6]:
skaters_1516 = slim_table('NHL 2015-16.xls', '2015-16', 'skater')
skaters_1516.head()
# print_full(skaters_1516)

           Full Name   Season Team           TOI   PS      PS/60
0  Justin Abdelkader  2015-16  DET  1511.7166667  3.8  0.1508219
1       Noel Acciari  2015-16  BOS   187.9500000 -0.4 -0.1276935
2     Kenny Agostino  2015-16  CGY    27.1000000 -0.1 -0.2214022
3    Andrew Agozzino  2015-16  COL    77.0500000  0.1  0.0778715
4        Karl Alzner  2015-16  WSH  1752.7500000  5.4  0.1848524

In [7]:
goalies_1112 = slim_table('NHL Goalies 2011-12.xls', '2011-12', 'goalie')
goalies_1112.head()
# print_full(goalies_1112)

          Full Name   Season Team     TOI    PS      PS/60
0    Craig Anderson  2011-12  OTT  3492.3  11.7  0.2010137
1         Alex Auld  2011-12  OTT   645.0   0.8  0.0744186
2   Richard Bachman  2011-12  DAL   933.1   2.7  0.1736148
3  Niklas Backstrom  2011-12  MIN  2589.7   8.8  0.2038846
4  Jonathan Bernier  2011-12  LAK   890.2   2.1  0.1415412

In [8]:
goalies_1213 = slim_table('NHL Goalies 2012-13.xls', '2012-13', 'goalie')
goalies_1213.head()
# print_full(goalies_1213)

          Full Name   Season Team           TOI   PS      PS/60
0  Sami Aittokallio  2012-13  COL    49.3333333  0.2  0.2432432
1        Jake Allen  2012-13  STL   803.8833333  1.8  0.1343479
2    Craig Anderson  2012-13  OTT  1420.6000000  6.5  0.2745319
3   Richard Bachman  2012-13  DAL   608.8333333  0.9  0.0886942
4  Niklas Backstrom  2012-13  MIN  2368.1333333  6.2  0.1570857

In [9]:
goalies_1314 = slim_table('NHL Goalies 2013-14.xls', '2013-14', 'goalie')
goalies_1314.head()
# print_full(goalies_1314)

           Full Name   Season Team   TOI   PS      PS/60
0   Sami Aittokallio  2013-14  COL    40 -0.1 -0.1500000
1  Frederik Andersen  2013-14  ANA  1569  5.6  0.2141491
2     Craig Anderson  2013-14  OTT  3000  9.5  0.1900000
3    Richard Bachman  2013-14  EDM   139  0.5  0.2158273
4   Niklas Backstrom  2013-14  MIN  1094  2.3  0.1261426

In [10]:
goalies_1415 = slim_table('NHL Goalies 2014-15.xls', '2014-15', 'goalie')
goalies_1415.head()
# print_full(goalies_1415)

           Full Name   Season Team           TOI   PS      PS/60
0         Jake Allen  2014-15  STL  2077.0333333  5.3  0.1531030
1  Frederik Andersen  2014-15  ANA  3105.7166667  8.6  0.1661452
2     Craig Anderson  2014-15  OTT  2092.5166667  8.0  0.2293889
3    Richard Bachman  2014-15  EDM   316.7166667  0.9  0.1704994
4   Niklas Backstrom  2014-15  MIN  1004.8833333  1.2  0.0716501

In [11]:
goalies_1516 = slim_table('NHL Goalies 2015-16.xls', '2015-16', 'goalie')
goalies_1516.head()
# print_full(goalies_1516)

           Full Name   Season Team           TOI    PS      PS/60
0         Jake Allen  2015-16  STL  2583.3666667   8.2  0.1904492
1  Frederik Andersen  2015-16  ANA  2297.9333333   7.0  0.1827729
2     Craig Anderson  2015-16  OTT  3477.1333333  11.6  0.2001649
3    Richard Bachman  2015-16  VAN    59.8666667   0.1  0.1002227
4   Niklas Backstrom  2015-16  CGY   232.7166667   0.2  0.0515648

In [12]:
# Append skaters data from 14-15 to 15-16 to master table
master = master.append([skaters_1415, skaters_1516])

# Append goalies data from 11-12 to 15-16 to master table
master = master.append([goalies_1112, goalies_1213, goalies_1314, goalies_1415, goalies_1516])

In [13]:
# Clean duplicate name issues
name_mapping = {
                 'TJ Brennan': 'T.J. Brennan',
                 'TJ Brodie': 'T.J. Brodie',
                 'Mike Cammalleri': 'Michael Cammalleri',
                 'Matthew Carle': 'Matt Carle',
                 'Mathew Dumba': 'Matt Dumba',
                 'Michael Ferland': 'Micheal Ferland',
                 'TJ Galiardi': 'T.J. Galiardi',
                 'Mike Kostka': 'Michael Kostka',
                 'Nikolai Kulemin': 'Nikolay Kulemin',
                 'Jonathon Merrill': 'Jon Merrill',
                 'Dave Moss': 'David Moss',
                 'Matthew Nieto': 'Matt Nieto',
                 'Pierre-Alexandre Parenteau': 'P.A. Parenteau',
                 'Alex Steen': 'Alexander Steen',
                 'Maxime Talbot': 'Max Talbot',
                 'Chris Tanev': 'Christopher Tanev'
               }


for i, row in master.iterrows():
    for bad_name in name_mapping:
        if row['Full Name'] == bad_name:
            master.set_value(i, 'Full Name', name_mapping[bad_name])

In [14]:
# Sort data by season then full name
master = master.sort_values(['Season', 'Full Name'])

In [15]:
totals = master.groupby(['Full Name'])[['TOI', 'PS']].sum()

In [16]:
totals['PS/60'] = totals['PS'] / totals['TOI'] * 60
# totals['GVT/60'] = totals['GVT'] / totals['TOI'] * 60
 
# Minimum 100 minutes TOI
totals = totals.loc[totals['TOI'] > 100]
totals = totals.sort_values('PS/60', ascending=False)

In [17]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
totals.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# Gathering Rankings

In [96]:
pronman_2010 = pd.read_csv('pronman/pronman 2010.csv')
pronman_2010 = pronman_2010.join(totals, on='Full Name', how='left')
pronman_2010.head()

   Source Rank        Full Name           TOI    PS      PS/60
0            1      Taylor Hall  7227.4000000  38.6  0.3204472
1            2     Tyler Seguin  7428.9833333  47.8  0.3860555
2            3       Cam Fowler  9278.3666667  27.2  0.1758930
3            4   Kirill Kabanov           NaN   NaN        NaN
4            5  Brandon Gormley   803.2666667   1.3  0.0971035

In [97]:
pronman_2011 = pd.read_csv('pronman/pronman 2011.csv')
pronman_2011 = pronman_2011.join(totals, on='Full Name', how='left')
pronman_2011.head()

   Source Rank            Full Name           TOI    PS      PS/60
0            1  Ryan Nugent-Hopkins  6096.1500000  22.7  0.2234197
1            2       Sean Couturier  6064.6833333  14.2  0.1404855
2            3          Ryan Strome  2920.9333333   9.9  0.2033597
3            4   Jonathan Huberdeau  4596.0000000  18.9  0.2467363
4            5         Adam Larsson  5659.4000000  18.0  0.1908330

In [20]:
# Strip hockey ref slashes to get NHL draft order for each year
def nhl_draft_order(messy_filename, full_draft_filename, rd_1_filename):
    order = pd.read_csv('nhl/' + messy_filename)
    order = order[[order.columns[0], order.columns[2]]]
    order.columns = ['Source Rank', 'Full Name']
    order['Full Name'] = order['Full Name'].str.split('\\').str.get(0)
    # fix: Combine these .locs
    full_draft = order.loc[order['Full Name'].str[:5] != "Round"]
    full_draft = full_draft.loc[order['Source Rank'] != "Overall"]
    full_draft.to_csv('nhl/' + full_draft_filename, index=False)
    
    rd_1 = order.iloc[1:31]
    rd_1.to_csv('nhl/' + rd_1_filename, index=False)
    
#     return full_draft

## Careful with cell below
Ensure commented out unless you want to overwrite source data

In [21]:
# Manually changed Erik Karlsson in 2012 'nhl 2012 messy.csv' to Erik Karlsson (2012)
# 2010 and 2011 already done
nhl_draft_order('nhl 2012 messy.csv', 'nhl 2012 full draft.csv' , 'nhl 2012 round 1.csv')
nhl_draft_order('nhl 2013 messy.csv', 'nhl 2013 full draft.csv' , 'nhl 2013 round 1.csv')
nhl_draft_order('nhl 2014 messy.csv', 'nhl 2014 full draft.csv' , 'nhl 2014 round 1.csv')

In [22]:
# Join totals table with full draft table, sort by ps/60, apply new index based on PS/60
def create_ps60_rank(full_draft_filename, ps_60_filename):
    full_draft = pd.read_csv('nhl/'+ full_draft_filename)
    full_draft = full_draft.join(totals, on='Full Name', how='left')
    ps60_rank = full_draft.sort_values('PS/60', ascending=False).reset_index(drop=True)
    counter = 0
    for i, row in ps60_rank.iterrows():
        if pd.isnull(row['TOI']) and counter == 0:
            tied_for_last = i+1
            counter = 1
            ps60_rank.set_value(i, 'PS/60 Rank', i+1)
        elif pd.isnull(row['TOI']):
            ps60_rank.set_value(i, 'PS/60 Rank', tied_for_last)
        else:
            ps60_rank.set_value(i, 'PS/60 Rank', i+1)
    # Isolate last name for name checking purposes
    ps60_rank['Last Name'] = ps60_rank['Full Name'].str.rpartition(' ')[2]
    ps60_rank = ps60_rank[['Full Name', 'Last Name', 'TOI', 'PS', 'PS/60','PS/60 Rank']]
    ps60_rank.to_csv('ps/' + ps_60_filename, index=False, float_format='%d')
    return ps60_rank

In [98]:
create_ps60_rank('nhl 2010 full draft.csv', 'ps 2010.csv').head()

            Full Name  Last Name           TOI    PS      PS/60  PS/60 Rank
0  Vladimir Tarasenko  Tarasenko  4329.1166667  30.7  0.4254910         1.0
1        Tyler Seguin     Seguin  7428.9833333  47.8  0.3860555         2.0
2       Tyler Toffoli    Toffoli  3450.4166667  21.5  0.3738679         3.0
3     Scott Wedgewood  Wedgewood   240.7500000   1.3  0.3239875         4.0
4      John Klingberg  Klingberg  3144.0000000  16.9  0.3225191         5.0

In [99]:
create_ps60_rank('nhl 2011 full draft.csv', 'ps 2011.csv').head()

         Full Name Last Name           TOI    PS      PS/60  PS/60 Rank
0  Nikita Kucherov  Kucherov  3310.3333333  21.0  0.3806263         1.0
1  Johnny Gaudreau  Gaudreau  2991.8666667  17.0  0.3409243         2.0
2     Ondrej Palat     Palat  4043.3333333  21.3  0.3160758         3.0
3     Brandon Saad      Saad  4813.8000000  22.8  0.2841830         4.0
4       Josh Leivo     Leivo   285.6833333   1.3  0.2730296         5.0

In [100]:
create_ps60_rank('nhl 2012 full draft.csv', 'ps 2012.csv').head()

             Full Name     Last Name           TOI   PS      PS/60  PS/60 Rank
0  Shayne Gostisbehere  Gostisbehere  1310.9000000  8.7  0.3981997         1.0
1   Andreas Athanasiou    Athanasiou   333.6500000  2.1  0.3776412         2.0
2       Colton Parayko       Parayko  1531.5666667  8.8  0.3447450         3.0
3       Filip Forsberg      Forsberg  1646.1333333  8.2  0.2988822         4.0
4         Connor Brown         Brown   104.8000000  0.5  0.2862595         5.0

In [104]:
create_ps60_rank('nhl 2013 full draft.csv', 'ps 2013.csv').head(10)

             Full Name    Last Name           TOI    PS      PS/60  PS/60 Rank
0   Oliver Bjorkstrand  Bjorkstrand   191.7166667   1.3  0.4068504         1.0
1  Kristers Gudlevskis   Gudlevskis   119.9500000   0.8  0.4001667         2.0
2        Shea Theodore     Theodore   363.0666667   2.3  0.3800955         3.0
3    Mackenzie Skapski      Skapski   119.0833333   0.6  0.3023093         4.0
4      Anthony Duclair      Duclair  1383.5500000   6.5  0.2818836         5.0
5     Nathan MacKinnon    MacKinnon  3871.4166667  17.1  0.2650193         6.0
6             Max Domi         Domi  1326.3166667   5.8  0.2623808         7.0
7     Andre Burakovsky   Burakovsky  1713.7333333   7.4  0.2590835         8.0
8         Sean Monahan      Monahan  4340.1000000  18.4  0.2543720         9.0
9          Ryan Pulock       Pulock   235.9333333   1.0  0.2543091        10.0

In [103]:
create_ps60_rank('nhl 2014 full draft.csv', 'ps 2014.csv').head()

          Full Name Last Name           TOI    PS      PS/60  PS/60 Rank
0    David Pastrnak  Pastrnak  1353.9666667   7.1  0.3146311         1.0
1      Aaron Ekblad    Ekblad  3457.4333333  16.7  0.2898104         2.0
2      Robby Fabbri    Fabbri   958.6833333   4.6  0.2878949         3.0
3      Dylan Larkin    Larkin  1323.5333333   6.0  0.2719992         4.0
4  William Nylander  Nylander   359.4333333   1.6  0.2670871         5.0

# Computing Absolute Difference

def abs_diff(source_filename, ps_60_filename):
    source = pd.read_csv(source_filename)
    ps60 = pd.read_csv(ps_60_filename)
    abs_diff = pd.merge(source, ps60, on='Full Name', how='left')
    abs_diff = abs_diff[['Full Name', 'Source Rank', 'PS/60 Rank']]
    abs_diff['Absolute Difference'] = abs(abs_diff['Source Rank'] - abs_diff['PS/60 Rank'])
    return abs_diff

## Actual NHL Draft Order

### NHL 2010

In [106]:
abs_diff_nhl_2010 = abs_diff('nhl/nhl 2010 round 1.csv', 'ps/ps 2010.csv')
abs_diff_nhl_2010.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0        Taylor Hall            1           6                    5
1       Tyler Seguin            2           2                    0
2    Erik Gudbranson            3          60                   57
3      Ryan Johansen            4          14                   10
4  Nino Niederreiter            5          26                   21

In [107]:
abs_diff_nhl_2010['Absolute Difference'].sum()

791

### NHL 2011

In [108]:
abs_diff_nhl_2011 = abs_diff('nhl/nhl 2011 round 1.csv', 'ps/ps 2011.csv')
abs_diff_nhl_2011.head()

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0  Ryan Nugent-Hopkins            1          15                   14
1    Gabriel Landeskog            2           8                    6
2   Jonathan Huberdeau            3          12                    9
3         Adam Larsson            4          20                   16
4          Ryan Strome            5          19                   14

In [109]:
abs_diff_nhl_2011['Absolute Difference'].sum()

868

### NHL 2012

In [112]:
abs_diff_nhl_2012 = abs_diff('nhl/nhl 2012 round 1.csv', 'ps/ps 2012.csv')
abs_diff_nhl_2012.head()

          Full Name  Source Rank  PS/60 Rank  Absolute Difference
0      Nail Yakupov            1          30                   29
1       Ryan Murray            2          27                   25
2   Alex Galchenyuk            3           6                    3
3  Griffin Reinhart            4          50                   46
4     Morgan Rielly            5          25                   20

In [113]:
abs_diff_nhl_2012['Absolute Difference'].sum()

634

### NHL 2013

In [115]:
abs_diff_nhl_2013 = abs_diff('nhl/nhl 2013 round 1.csv', 'ps/ps 2013.csv')
abs_diff_nhl_2013.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0   Nathan MacKinnon            1           6                    5
1  Aleksander Barkov            2          12                   10
2    Jonathan Drouin            3          15                   12
3         Seth Jones            4          19                   15
4     Elias Lindholm            5          23                   18

In [116]:
abs_diff_nhl_2013['Absolute Difference'].sum()

362

### NHL 2014

In [ ]:
# abs_diff_nhl_2014 = abs_diff('nhl/nhl 2014 round 1.csv', 'ps/ps 2014.csv')
# abs_diff_nhl_2014.head()

In [ ]:
# abs_diff_nhl_2014['Absolute Difference'].sum()

### NHL Average Total Absolute Difference

In [117]:
total_nhl = abs_diff_nhl_2010['Absolute Difference'].sum() + \
            abs_diff_nhl_2011['Absolute Difference'].sum() + \
            abs_diff_nhl_2012['Absolute Difference'].sum() + \
            abs_diff_nhl_2013['Absolute Difference'].sum()
total_nhl / 4

663

## Pronman

### Pronman 2010

In [105]:
abs_diff_pronman_2010 = abs_diff('pronman/pronman 2010.csv', 'ps/ps 2010.csv')
abs_diff_pronman_2010.head()

         Full Name  Source Rank  PS/60 Rank  Absolute Difference
0      Taylor Hall            1           6                    5
1     Tyler Seguin            2           2                    0
2       Cam Fowler            3          30                   27
3   Kirill Kabanov            4          83                   79
4  Brandon Gormley            5          56                   51

In [31]:
abs_diff_pronman_2010['Absolute Difference'].sum()

873

### Pronman 2011

In [110]:
abs_diff_pronman_2011 = abs_diff('pronman/pronman 2011.csv', 'ps/ps 2011.csv')
abs_diff_pronman_2011.head()

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0  Ryan Nugent-Hopkins            1          15                   14
1       Sean Couturier            2          40                   38
2          Ryan Strome            3          19                   16
3   Jonathan Huberdeau            4          12                    8
4         Adam Larsson            5          20                   15

In [35]:
abs_diff_pronman_2011['Absolute Difference'].sum()

928

### Pronman 2012

In [111]:
abs_diff_pronman_2012 = abs_diff('pronman/pronman 2012.csv', 'ps/ps 2012.csv')
abs_diff_pronman_2012.head()

            Full Name  Source Rank  PS/60 Rank  Absolute Difference
0        Nail Yakupov            1          30                   29
1  Mikhail Grigorenko            2          42                   40
2     Alex Galchenyuk            3           6                    3
3      Filip Forsberg            4           4                    0
4    Teuvo Teravainen            5          28                   23

In [39]:
abs_diff_pronman_2012['Absolute Difference'].sum()

705

### Pronman 2013

In [114]:
abs_diff_pronman_2013 = abs_diff('pronman/pronman 2013.csv', 'ps/ps 2013.csv')
abs_diff_pronman_2013.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0    Jonathan Drouin            1          15                   14
1   Nathan MacKinnon            2           6                    4
2         Seth Jones            3          19                   16
3  Valeri Nichushkin            4          20                   16
4  Aleksander Barkov            5          12                    7

In [43]:
abs_diff_pronman_2013['Absolute Difference'].sum()

341

### Pronman 2014

In [45]:
# abs_diff_pronman_2014 = abs_diff('pronman/pronman 2014.csv', 'ps/ps 2014.csv')
# abs_diff_pronman_2014.head()

In [47]:
# abs_diff_pronman_2014['Absolute Difference'].sum()

### Pronman Average Total Absolute Difference

In [49]:
total_pronman = abs_diff_pronman_2010['Absolute Difference'].sum() + \
                abs_diff_pronman_2011['Absolute Difference'].sum() + \
                abs_diff_pronman_2012['Absolute Difference'].sum() + \
                abs_diff_pronman_2013['Absolute Difference'].sum()
total_pronman / 4

711

In [51]:
total_pronman - total_nhl

192

# Top 15

In [52]:
# top15_abs_diff_pronman_2010 = abs_diff_pronman_2010.iloc[:15]
# top15_abs_diff_pronman_2010

In [53]:
# top15_abs_diff_nhl_2010 = abs_diff_nhl_2010.iloc[:15]
# top15_abs_diff_nhl_2010

In [54]:
# top15_abs_diff_pronman_2010['Absolute Difference'].sum()

In [55]:
# top15_abs_diff_nhl_2010['Absolute Difference'].sum()

In [56]:
# top15_abs_diff_pronman_2011 = abs_diff_pronman_2011.iloc[:15]
# top15_abs_diff_pronman_2011

In [57]:
# top15_abs_diff_nhl_2011 = abs_diff_nhl_2011.iloc[:15]
# top15_abs_diff_nhl_2011

In [58]:
# top15_abs_diff_pronman_2011['Absolute Difference'].sum()

In [59]:
# top15_abs_diff_nhl_2011['Absolute Difference'].sum()

In [60]:
# top15_abs_diff_pronman_2012 = abs_diff_pronman_2012.iloc[:15]
# top15_abs_diff_pronman_2012

In [61]:
# top15_abs_diff_nhl_2012 = abs_diff_nhl_2012.iloc[:15]
# top15_abs_diff_nhl_2012

In [62]:
# top15_abs_diff_pronman_2012['Absolute Difference'].sum()

In [63]:
# top15_abs_diff_nhl_2012['Absolute Difference'].sum()

In [64]:
# top15_abs_diff_pronman_2013 = abs_diff_pronman_2013.iloc[:15]
# top15_abs_diff_pronman_2013

In [65]:
# top15_abs_diff_nhl_2013 = abs_diff_nhl_2013.iloc[:15]
# top15_abs_diff_nhl_2013

In [66]:
# top15_abs_diff_pronman_2013['Absolute Difference'].sum()

In [67]:
# top15_abs_diff_nhl_2013['Absolute Difference'].sum()

In [68]:
# top15_total_pronman = top15_abs_diff_pronman_2010['Absolute Difference'].sum() + \
#                       top15_abs_diff_pronman_2011['Absolute Difference'].sum() + \
#                       top15_abs_diff_pronman_2012['Absolute Difference'].sum() + \
#                       top15_abs_diff_pronman_2013['Absolute Difference'].sum()
# top15_total_pronman

In [69]:
# top15_total_nhl = top15_abs_diff_nhl_2010['Absolute Difference'].sum() + \
#                   top15_abs_diff_nhl_2011['Absolute Difference'].sum() + \
#                   top15_abs_diff_nhl_2012['Absolute Difference'].sum() + \
#                   top15_abs_diff_nhl_2013['Absolute Difference'].sum()
# top15_total_nhl

In [70]:
# top15_total_pronman - top15_total_nhl

# Button

In [71]:
abs_diff_button_2011 = abs_diff('button/button 2011.csv', 'ps/ps 2011.csv')
abs_diff_button_2011

                Full Name  Source Rank  PS/60 Rank  Absolute Difference
0     Ryan Nugent-Hopkins            1          15                   14
1      Jonathan Huberdeau            2          12                   10
2       Gabriel Landeskog            3           8                    5
3             Ryan Murphy            4          36                   32
4          Mika Zibanejad            5          18                   13
5             Ryan Strome            6          19                   13
6          Sean Couturier            7          40                   33
7            Adam Larsson            8          20                   12
8         Nathan Beaulieu            9          28                   19
9            Jonas Brodin           10          32                   22
10         Sven Baertschi           11          21                   10
11        Dougie Hamilton           12           7                    5
12         Jamie Oleksiak           13          69                   56
13           Matt Puempel           14          57                   43
14          Zack Phillips           15          85                   70
15         Mark Scheifele           16           6                   10
16        Nikita Kucherov           17           1                   16
17        Phillip Danault           18          73                   55
18             Joel Armia           19          55                   36
19            Tomas Jurco           20          44                   24
20           Brandon Saad           21           4                   17
21          Oscar Klefbom           22          47                   25
22  Vladislav Namestnikov           23          14                    9
23         Rickard Rakell           24          16                    8
24             Joe Morrow           25          52                   27
25          Connor Murphy           26          46                   20
26            John Gibson           27          27                    0
27           Stuart Percy           28          71                   43
28              Ty Rattie           29          10                   19
29           Mark McNeill           30          85                   55

In [72]:
abs_diff_button_2011['Absolute Difference'].sum()

721

In [73]:
abs_diff_button_2012 = abs_diff('button/button 2012.csv', 'ps/ps 2012.csv')
abs_diff_button_2012

              Full Name  Source Rank  PS/60 Rank  Absolute Difference
0          Nail Yakupov            1          30                   29
1            Matt Dumba            2           9                    7
2         Morgan Rielly            3          25                   22
3       Alex Galchenyuk            4           6                    2
4      Teuvo Teravainen            5          28                   23
5      Griffin Reinhart            6          50                   44
6        Filip Forsberg            7           4                    3
7        Malcolm Subban            8          57                   49
8             Matt Finn            9          57                   48
9       Hampus Lindholm           10           8                    2
10            Cody Ceci           11          26                   15
11         Jacob Trouba           12          18                    6
12          Ryan Murray           13          27                   14
13       Mark Jankowski           14          57                   43
14   Andrei Vasilevskiy           15          21                    6
15    Zemgus Girgensons           16          39                   23
16          Radek Faksa           17          29                   12
17      Derrick Pouliot           18          34                   16
18       Ludwig Bystrom           19          57                   38
19   Mikhail Grigorenko           20          42                   22
20           Tom Wilson           21          43                   22
21          Tomas Hertl           22          10                   12
22     Michael Matheson           23          57                   34
23       Scott Laughton           24          41                   17
24          Gemel Smith           25          57                   32
25          Brady Skjei           26          49                   23
26   Sebastian Collberg           27          57                   30
27          Olli Maatta           28           7                   21
28    Henrik Samuelsson           29          57                   28
29  Phillip Di Giuseppe           30          17                   13

In [74]:
abs_diff_button_2012['Absolute Difference'].sum()

656

In [75]:
abs_diff_button_2013 = abs_diff('button/button 2013.csv', 'ps/ps 2013.csv')
abs_diff_button_2013

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0           Seth Jones            1          19                   18
1      Jonathan Drouin            2          15                   13
2     Nathan MacKinnon            3           6                    3
3    Aleksander Barkov            4          12                    8
4    Valeri Nichushkin            5          20                   15
5         Sean Monahan            6           9                    3
6       Zachary Fucale            7          36                   29
7        Darnell Nurse            8          29                   21
8       Elias Lindholm            9          23                   14
9             Max Domi           10           7                    3
10      Nikita Zadorov           11          24                   13
11  Alexander Wennberg           12          28                   16
12        Samuel Morin           13          36                   23
13    Hunter Shinkaruk           14          26                   12
14      Josh Morrissey           15          36                   21
15      Anthony Mantha           16          31                   15
16           Nic Petan           17          27                   10
17     Morgan Klimchuk           18          36                   18
18           Bo Horvat           19          21                    2
19           Adam Erne           20          36                   16
20   Frederik Gauthier           21          36                   15
21     Laurent Dauphin           22          36                   14
22    Artturi Lehkonen           23          36                   13
23       Madison Bowey           24          36                   12
24  Rasmus Ristolainen           25          22                    3
25        Ryan Hartman           26          36                   10
26        Kerby Rychel           27          13                   14
27     Jason Dickinson           28          36                    8
28       Emile Poirier           29          36                    7
29         Ryan Pulock           30          10                   20

In [76]:
abs_diff_button_2013['Absolute Difference'].sum()

389

In [77]:
total_button = abs_diff_button_2011['Absolute Difference'].sum() + \
                abs_diff_button_2012['Absolute Difference'].sum() + \
                abs_diff_button_2013['Absolute Difference'].sum()
total_button / 3

588

# McKenzie

In [78]:
abs_diff_mckenzie_2010 = abs_diff('mckenzie/mckenzie 2010.csv', 'ps/ps 2010.csv')
abs_diff_mckenzie_2010

               Full Name  Source Rank  PS/60 Rank  Absolute Difference
0            Taylor Hall            1           6                    5
1           Tyler Seguin            2           2                    0
2        Erik Gudbranson            3          60                   57
3        Brandon Gormley            4          56                   52
4             Cam Fowler            5          30                   25
5          Ryan Johansen            6          14                    8
6      Nino Niederreiter            7          26                   19
7         Brett Connolly            8          51                   43
8          Jack Campbell            9          83                   74
9           Jeff Skinner           10          12                    2
10         Derek Forbort           11          40                   29
11  Alexander Burmistrov           12          61                   49
12       Mikael Granlund           13          34                   21
13         Austin Watson           14          71                   57
14        Dylan McIlrath           15          36                   21
15    Vladimir Tarasenko           16           1                   15
16          Emerson Etem           17          54                   37
17          Beau Bennett           18          38                   20
18         Nick Bjugstad           19          22                    3
19            Mark Pysyk           20          41                   21
20         Riley Sheahan           21          37                   16
21           Jon Merrill           22          50                   28
22        Jarred Tinordi           23          64                   41
23      Evgeny Kuznetsov           24           7                   17
24         Tyler Pitlick           25          73                   48
25        Quinton Howden           26          66                   40
26         Tyler Toffoli           27           3                   24
27        John McFarland           28          83                   55
28        Jaden Schwartz           29           8                   21
29          Justin Faulk           30          17                   13

In [79]:
abs_diff_mckenzie_2010['Absolute Difference'].sum()

861

In [80]:
abs_diff_mckenzie_2011 = abs_diff('mckenzie/mckenzie 2011.csv', 'ps/ps 2011.csv')
abs_diff_mckenzie_2011

              Full Name  Source Rank  PS/60 Rank  Absolute Difference
0   Ryan Nugent-Hopkins            1          15                   14
1          Adam Larsson            2          20                   18
2    Jonathan Huberdeau            3          12                    9
3     Gabriel Landeskog            4           8                    4
4        Sean Couturier            5          40                   35
5       Dougie Hamilton            6           7                    1
6           Ryan Strome            7          19                   12
7           Ryan Murphy            8          36                   28
8        Mika Zibanejad            9          18                    9
9          Jonas Brodin           10          32                   22
10      Nathan Beaulieu           11          28                   17
11       Mark Scheifele           12           6                    6
12       Duncan Siemens           13          85                   72
13           Joel Armia           14          55                   41
14          Tyler Biggs           15          85                   70
15       Sven Baertschi           16          21                    5
16       Jamie Oleksiak           17          69                   52
17          J.T. Miller           18          26                    8
18         Mark McNeill           19          85                   66
19           Joe Morrow           20          52                   32
20        Oscar Klefbom           21          47                   26
21         Brandon Saad           22           4                   18
22       Rocco Grimaldi           23          59                   36
23       Nicklas Jensen           24          60                   36
24            Ty Rattie           25          10                   15
25         Boone Jenner           26          13                   13
26         Matt Puempel           27          57                   30
27        Zack Phillips           28          85                   57
28          Tomas Jurco           29          44                   15
29        Connor Murphy           30          46                   16

In [81]:
abs_diff_mckenzie_2011['Absolute Difference'].sum()

783

In [82]:
abs_diff_mckenzie_2012 = abs_diff('mckenzie/mckenzie 2012.csv', 'ps/ps 2012.csv')
abs_diff_mckenzie_2012

              Full Name  Source Rank  PS/60 Rank  Absolute Difference
0          Nail Yakupov            1          30                   29
1           Ryan Murray            2          27                   25
2        Filip Forsberg            3           4                    1
3      Griffin Reinhart            4          50                   46
4       Alex Galchenyuk            5           6                    1
5            Matt Dumba            6           9                    3
6      Teuvo Teravainen            7          28                   21
7         Morgan Rielly            8          25                   17
8          Jacob Trouba            9          18                    9
9           Olli Maatta           10           7                    3
10          Radek Faksa           11          29                   18
11   Mikhail Grigorenko           12          42                   30
12    Zemgus Girgensons           13          39                   26
13            Cody Ceci           14          26                   12
14      Hampus Lindholm           15           8                    7
15      Slater Koekkoek           16          51                   35
16      Derrick Pouliot           17          34                   17
17           Tom Wilson           18          43                   25
18          Tomas Hertl           19          10                    9
19       Brendan Gaunce           20          56                   36
20            Matt Finn           21          57                   36
21          Brady Skjei           22          49                   27
22       Stefan Matteau           23          54                   31
23   Andrei Vasilevskiy           24          21                    3
24       Malcolm Subban           25          57                   32
25     Michael Matheson           26          57                   31
26   Sebastian Collberg           27          57                   30
27       Scott Laughton           28          41                   13
28       Tanner Pearson           29          11                   18
29  Phillip Di Giuseppe           30          17                   13

In [83]:
abs_diff_mckenzie_2012['Absolute Difference'].sum()

604

In [84]:
abs_diff_mckenzie_2013 = abs_diff('mckenzie/mckenzie 2013.csv', 'ps/ps 2013.csv')
abs_diff_mckenzie_2013

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0     Nathan MacKinnon            1           6                    5
1           Seth Jones            2          19                   17
2      Jonathan Drouin            3          15                   12
3    Aleksander Barkov            4          12                    8
4       Elias Lindholm            5          23                   18
5    Valeri Nichushkin            6          20                   14
6         Sean Monahan            7           9                    2
7   Rasmus Ristolainen            8          22                   14
8        Darnell Nurse            9          29                   20
9             Max Domi           10           7                    3
10      Nikita Zadorov           11          24                   13
11  Alexander Wennberg           12          28                   16
12           Bo Horvat           13          21                    8
13    Hunter Shinkaruk           14          26                   12
14      Anthony Mantha           15          31                   16
15       Mirco Mueller           16          33                   17
16        Samuel Morin           17          36                   19
17        Curtis Lazar           18          30                   12
18      Zachary Fucale           19          36                   17
19           Adam Erne           20          36                   16
20        Kerby Rychel           21          13                    8
21   Frederik Gauthier           22          36                   14
22         Ryan Pulock           23          10                   13
23    Andre Burakovsky           24           8                   16
24      Valentin Zykov           25          36                   11
25        Ryan Hartman           26          36                   10
26         Robert Hagg           27          36                    9
27      Josh Morrissey           28          36                    8
28    Jacob De La Rose           29          34                    5
29     Morgan Klimchuk           30          36                    6

In [85]:
abs_diff_mckenzie_2013['Absolute Difference'].sum()

359

In [86]:
total_mckenzie =abs_diff_mckenzie_2011['Absolute Difference'].sum() + \
                 abs_diff_mckenzie_2012['Absolute Difference'].sum() + \
                 abs_diff_mckenzie_2013['Absolute Difference'].sum()
total_mckenzie / 3

582

# ISS

In [87]:
abs_diff_iss_2010 = abs_diff('iss/iss 2010.csv', 'ps/ps 2010.csv')
abs_diff_iss_2010

               Full Name  Source Rank  PS/60 Rank  Absolute Difference
0            Taylor Hall            1           6                    5
1           Tyler Seguin            2           2                    0
2        Brandon Gormley            3          56                   53
3     Vladimir Tarasenko            4           1                    3
4             Cam Fowler            5          30                   25
5      Nino Niederreiter            6          26                   20
6        Erik Gudbranson            7          60                   53
7          Ryan Johansen            8          14                    6
8           Jeff Skinner            9          12                    3
9          Derek Forbort           10          40                   30
10           Jon Merrill           11          50                   39
11         Austin Watson           12          71                   59
12        Brett Connolly           13          51                   38
13  Alexander Burmistrov           14          61                   47
14       Mikael Granlund           15          34                   19
15        Quinton Howden           16          66                   50
16            Mark Pysyk           17          41                   24
17          Emerson Etem           18          54                   36
18      Evgeny Kuznetsov           19           7                   12
19         Tyler Pitlick           20          73                   53
20         Nick Bjugstad           21          22                    1
21         Riley Sheahan           22          37                   15
22        Jaden Schwartz           23           8                   15
23      Stanislav Galiev           24          65                   41
24        Jarred Tinordi           25          64                   39
25          Brock Nelson           26          20                    6
26      Ludvig Rensfeldt           27          83                   56
27         Charlie Coyle           28          29                    1
28         Johan Larsson           29          58                   29
29          Jason Zucker           30          28                    2

In [88]:
abs_diff_iss_2010['Absolute Difference'].sum()

780

In [89]:
abs_diff_iss_2011 = abs_diff('iss/iss 2011.csv', 'ps/ps 2011.csv')
abs_diff_iss_2011

                Full Name  Source Rank  PS/60 Rank  Absolute Difference
0     Ryan Nugent-Hopkins            1          15                   14
1            Adam Larsson            2          20                   18
2      Jonathan Huberdeau            3          12                    9
3          Sean Couturier            4          40                   36
4       Gabriel Landeskog            5           8                    3
5         Dougie Hamilton            6           7                    1
6          Mika Zibanejad            7          18                   11
7             Ryan Murphy            8          36                   28
8             Ryan Strome            9          19                   10
9           Oscar Klefbom           10          47                   37
10         Sven Baertschi           11          21                   10
11         Duncan Siemens           12          85                   73
12             Joel Armia           13          55                   42
13        Nathan Beaulieu           14          28                   14
14         Rocco Grimaldi           15          59                   44
15         Jamie Oleksiak           16          69                   53
16            J.T. Miller           17          26                    9
17         Mark Scheifele           18           6                   12
18          Connor Murphy           19          46                   27
19           Jonas Brodin           20          32                   12
20           Mark McNeill           21          85                   64
21         Nicklas Jensen           22          60                   38
22  Alexander Khokhlachev           23          85                   62
23           Brandon Saad           24           4                   20
24            Tomas Jurco           25          44                   19
25            Victor Rask           26          23                    3
26            David Musil           27          85                   58
27              Ty Rattie           28          10                   18
28           Matt Puempel           29          57                   28
29          Brett Ritchie           30          63                   33

In [90]:
abs_diff_iss_2011['Absolute Difference'].sum()

806

In [91]:
abs_diff_iss_2012 = abs_diff('iss/iss 2012.csv', 'ps/ps 2012.csv')
abs_diff_iss_2012

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0         Nail Yakupov            1          30                   29
1       Filip Forsberg            2           4                    2
2          Ryan Murray            3          27                   24
3   Mikhail Grigorenko            4          42                   38
4         Jacob Trouba            5          18                   13
5     Griffin Reinhart            6          50                   44
6        Morgan Rielly            7          25                   18
7           Matt Dumba            8           9                    1
8     Teuvo Teravainen            9          28                   19
9            Cody Ceci           10          26                   16
10      Brendan Gaunce           11          56                   45
11         Olli Maatta           12           7                    5
12  Sebastian Collberg           13          57                   44
13     Alex Galchenyuk           14           6                    8
14    Nicolas Kerdiles           15          57                   42
15         Radek Faksa           16          29                   13
16          Tom Wilson           17          43                   26
17           Matt Finn           18          57                   39
18     Hampus Lindholm           19           8                   11
19        Pontus Aberg           20          57                   37
20     Slater Koekkoek           21          51                   30
21     Derrick Pouliot           22          34                   12
22      Scott Laughton           23          41                   18
23   Zemgus Girgensons           24          39                   15
24      Colton Sissons           25          32                    7
25         Brady Skjei           26          49                   23
26   Henrik Samuelsson           27          57                   30
27      Dalton Thrower           28          57                   29
28      Ludwig Bystrom           29          57                   28
29         Adam Pelech           30          37                    7

In [92]:
abs_diff_iss_2012['Absolute Difference'].sum()

673

In [93]:
abs_diff_iss_2013 = abs_diff('iss/iss 2013.csv', 'ps/ps 2013.csv')
abs_diff_iss_2013

               Full Name  Source Rank  PS/60 Rank  Absolute Difference
0       Nathan MacKinnon            1           6                    5
1             Seth Jones            2          19                   17
2        Jonathan Drouin            3          15                   12
3      Valeri Nichushkin            4          20                   16
4      Aleksander Barkov            5          12                    7
5          Darnell Nurse            6          29                   23
6         Elias Lindholm            7          23                   16
7         Nikita Zadorov            8          24                   16
8           Sean Monahan            9           9                    0
9              Bo Horvat           10          21                   11
10    Rasmus Ristolainen           11          22                   11
11          Curtis Lazar           12          30                   18
12      Hunter Shinkaruk           13          26                   13
13           Ryan Pulock           14          10                    4
14    Alexander Wennberg           15          28                   13
15      Andre Burakovsky           16           8                    8
16        Steven Santini           17          36                   19
17     Frederik Gauthier           18          36                   18
18        Valentin Zykov           19          36                   17
19          Kerby Rychel           20          13                    7
20        Josh Morrissey           21          36                   15
21         Madison Bowey           22          36                   14
22        Anthony Mantha           23          31                    8
23          J.T. Compher           24          36                   12
24              Max Domi           25           7                   18
25             Nic Petan           26          27                    1
26  Dillon Heatherington           27          36                    9
27      Michael McCarron           28          35                    7
28          Chris Bigras           29          25                    4
29          Samuel Morin           30          36                    6

In [94]:
abs_diff_iss_2013['Absolute Difference'].sum()

345

In [95]:
total_iss = abs_diff_iss_2010['Absolute Difference'].sum() + \
abs_diff_iss_2011['Absolute Difference'].sum() + \
                 abs_diff_iss_2012['Absolute Difference'].sum() + \
                 abs_diff_iss_2013['Absolute Difference'].sum()
total_iss / 4

651