In [353]:
import pandas as pd
pd.set_option('precision',7)

def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

# GATHERING & CLEANING PLAYER STATS

In [354]:
def slim_table(filename, season, player_type):
    full = pd.read_excel(filename)
    
    # Adjusting all player type tables
    full['Full Name'] = full['First Name'] + " " + full['Last Name']
    if filename != 'excel_files/NHL Data 1967-2014.xls':
        full['Season'] = season
    
    # Adjusting goalie tables
    if player_type == "goalie":
        full.rename(columns={'MIN': 'TOI', "GPS" : "PS"}, inplace=True)
        
        if filename == 'excel_files/NHL Goalies 2014-15.xls':
            full.rename(columns={'All Tm': 'Team'}, inplace=True)
            
        if filename == "excel_files/NHL Goalies 2015-16.xls":
            full.rename(columns={'TOI': 'TOI (seconds)'}, inplace=True)
            full['TOI'] = full['TOI (seconds)'] / 60
    
    # Adjusting skater tables
    elif player_type == "skater" and filename != 'excel_files/NHL Data 1967-2014.xls':
        full.rename(columns={'Teams': 'Team'}, inplace=True)
        
        if filename == "excel_files/NHL 2015-16.xls":
            full.rename(columns={'TOI': 'TOI (seconds)'}, inplace=True)
            full['TOI'] = full['TOI (seconds)'] / 60
    
    # Calculate catch-all statistics
    full['PS/60'] = full['PS'] / full['TOI'] * 60
#     full['GVT/60'] = full['GVT'] / full['TOI'] * 60
    
    # Select important columns
    slim = full[['Full Name', 'Season', 'Team', 'TOI', 'PS', 'PS/60']]
    
    return slim

In [355]:
master = slim_table('excel_files/NHL Data 1967-2014.xls', 'multiple', 'skater')

In [356]:
# Since 2001
master = master.loc[master['Season'] > '2001']
master.head()

                Full Name   Season Team   TOI   PS      PS/60
19823         Craig Adams  2001-02  CAR   195 -0.1 -0.0307692
19824         Kevyn Adams  2001-02  TOT   887  0.8  0.0541150
19825  Dmitry Afanasenkov  2001-02  TBL    25 -0.1 -0.2400000
19826    Maxim Afinogenov  2001-02  BUF  1245  4.4  0.2120482
19827       Tommy Albelin  2001-02  NJD   560  1.3  0.1392857

In [357]:
skaters_1415 = slim_table('excel_files/NHL 2014-15.xls', '2014-15', 'skater')
skaters_1415.head()
# print_full(skaters_1415)

           Full Name   Season Team           TOI   PS      PS/60
0  Justin Abdelkader  2014-15  DET  1271.6000000  5.6  0.2642340
1         Will Acton  2014-15  EDM    32.1333333 -0.1 -0.1867220
2          Luke Adam  2014-15  CBJ    19.3333333  0.0  0.0000000
3        Craig Adams  2014-15  PIT   682.1833333 -0.3 -0.0263859
4    Andrew Agozzino  2014-15  COL     9.7500000  0.1  0.6153846

In [358]:
skaters_1516 = slim_table('excel_files/NHL 2015-16.xls', '2015-16', 'skater')
skaters_1516.head()
# print_full(skaters_1516)

           Full Name   Season Team           TOI   PS      PS/60
0  Justin Abdelkader  2015-16  DET  1511.7166667  3.8  0.1508219
1       Noel Acciari  2015-16  BOS   187.9500000 -0.4 -0.1276935
2     Kenny Agostino  2015-16  CGY    27.1000000 -0.1 -0.2214022
3    Andrew Agozzino  2015-16  COL    77.0500000  0.1  0.0778715
4        Karl Alzner  2015-16  WSH  1752.7500000  5.4  0.1848524

In [359]:
goalies_1112 = slim_table('excel_files/NHL Goalies 2011-12.xls', '2011-12', 'goalie')
goalies_1112.head()
# print_full(goalies_1112)

          Full Name   Season Team     TOI    PS      PS/60
0    Craig Anderson  2011-12  OTT  3492.3  11.7  0.2010137
1         Alex Auld  2011-12  OTT   645.0   0.8  0.0744186
2   Richard Bachman  2011-12  DAL   933.1   2.7  0.1736148
3  Niklas Backstrom  2011-12  MIN  2589.7   8.8  0.2038846
4  Jonathan Bernier  2011-12  LAK   890.2   2.1  0.1415412

In [360]:
goalies_1213 = slim_table('excel_files/NHL Goalies 2012-13.xls', '2012-13', 'goalie')
goalies_1213.head()
# print_full(goalies_1213)

          Full Name   Season Team           TOI   PS      PS/60
0  Sami Aittokallio  2012-13  COL    49.3333333  0.2  0.2432432
1        Jake Allen  2012-13  STL   803.8833333  1.8  0.1343479
2    Craig Anderson  2012-13  OTT  1420.6000000  6.5  0.2745319
3   Richard Bachman  2012-13  DAL   608.8333333  0.9  0.0886942
4  Niklas Backstrom  2012-13  MIN  2368.1333333  6.2  0.1570857

In [361]:
goalies_1314 = slim_table('excel_files/NHL Goalies 2013-14.xls', '2013-14', 'goalie')
goalies_1314.head()
# print_full(goalies_1314)

           Full Name   Season Team   TOI   PS      PS/60
0   Sami Aittokallio  2013-14  COL    40 -0.1 -0.1500000
1  Frederik Andersen  2013-14  ANA  1569  5.6  0.2141491
2     Craig Anderson  2013-14  OTT  3000  9.5  0.1900000
3    Richard Bachman  2013-14  EDM   139  0.5  0.2158273
4   Niklas Backstrom  2013-14  MIN  1094  2.3  0.1261426

In [362]:
goalies_1415 = slim_table('excel_files/NHL Goalies 2014-15.xls', '2014-15', 'goalie')
goalies_1415.head()
# print_full(goalies_1415)

           Full Name   Season Team           TOI   PS      PS/60
0         Jake Allen  2014-15  STL  2077.0333333  5.3  0.1531030
1  Frederik Andersen  2014-15  ANA  3105.7166667  8.6  0.1661452
2     Craig Anderson  2014-15  OTT  2092.5166667  8.0  0.2293889
3    Richard Bachman  2014-15  EDM   316.7166667  0.9  0.1704994
4   Niklas Backstrom  2014-15  MIN  1004.8833333  1.2  0.0716501

In [363]:
goalies_1516 = slim_table('excel_files/NHL Goalies 2015-16.xls', '2015-16', 'goalie')
goalies_1516.head()
# print_full(goalies_1516)

           Full Name   Season Team           TOI    PS      PS/60
0         Jake Allen  2015-16  STL  2583.3666667   8.2  0.1904492
1  Frederik Andersen  2015-16  ANA  2297.9333333   7.0  0.1827729
2     Craig Anderson  2015-16  OTT  3477.1333333  11.6  0.2001649
3    Richard Bachman  2015-16  VAN    59.8666667   0.1  0.1002227
4   Niklas Backstrom  2015-16  CGY   232.7166667   0.2  0.0515648

In [364]:
# Append skaters data from 14-15 to 15-16 to master table
master = master.append([skaters_1415, skaters_1516])

# Append goalies data from 11-12 to 15-16 to master table
master = master.append([goalies_1112, goalies_1213, goalies_1314, goalies_1415, goalies_1516])

In [365]:
# Clean duplicate name issues
name_mapping = {
                 'TJ Brennan': 'T.J. Brennan',
                 'TJ Brodie': 'T.J. Brodie',
                 'Mike Cammalleri': 'Michael Cammalleri',
                 'Matthew Carle': 'Matt Carle',
                 'Mathew Dumba': 'Matt Dumba',
                 'Michael Ferland': 'Micheal Ferland',
                 'TJ Galiardi': 'T.J. Galiardi',
                 'Mike Kostka': 'Michael Kostka',
                 'Nikolai Kulemin': 'Nikolay Kulemin',
                 'Jonathon Merrill': 'Jon Merrill',
                 'Dave Moss': 'David Moss',
                 'Matthew Nieto': 'Matt Nieto',
                 'Pierre-Alexandre Parenteau': 'P.A. Parenteau',
                 'Alex Steen': 'Alexander Steen',
                 'Maxime Talbot': 'Max Talbot',
                 'Chris Tanev': 'Christopher Tanev'
               }


for i, row in master.iterrows():
    for bad_name in name_mapping:
        if row['Full Name'] == bad_name:
            master.set_value(i, 'Full Name', name_mapping[bad_name])

In [366]:
# Sort data by season then full name
master = master.sort_values(['Season', 'Full Name'])

In [367]:
totals = master.groupby(['Full Name'])[['TOI', 'PS']].sum()

In [368]:
totals['PS/60'] = totals['PS'] / totals['TOI'] * 60
# totals['GVT/60'] = totals['GVT'] / totals['TOI'] * 60
 
# Minimum 100 minutes TOI
totals = totals.loc[totals['TOI'] > 100]
totals = totals.sort_values('PS/60', ascending=False)

In [369]:
# Save gathered & cleaned player statistics in Excel file
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
totals.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()

# GATHERING & CLEANING DRAFT RANKINGS

In [370]:
# Strip hockey ref slashes to get NHL draft order for each year
def nhl_draft_order(messy_filename, full_draft_filename, rd_1_filename):
    order = pd.read_csv('nhl/' + messy_filename)
    order = order[[order.columns[0], order.columns[2]]]
    order.columns = ['Source Rank', 'Full Name']
    order['Full Name'] = order['Full Name'].str.split('\\').str.get(0)
    # fix: Combine these .locs
    full_draft = order.loc[order['Full Name'].str[:5] != "Round"]
    full_draft = full_draft.loc[order['Source Rank'] != "Overall"]
    full_draft.to_csv('nhl/' + full_draft_filename, index=False)
    
    rd_1 = order.iloc[1:31]
    rd_1.to_csv('nhl/' + rd_1_filename, index=False)
    
#     return full_draft

### *Careful with cell below*
*Ensure commented out unless you want to overwrite source data*

In [371]:
# Manually changed Erik Karlsson in 2012 'nhl 2012 messy.csv' to Erik Karlsson (2012)
# 2010 and 2011 already done
nhl_draft_order('nhl 2012 messy.csv', 'nhl 2012 full draft.csv' , 'nhl 2012 round 1.csv')
nhl_draft_order('nhl 2013 messy.csv', 'nhl 2013 full draft.csv' , 'nhl 2013 round 1.csv')
nhl_draft_order('nhl 2014 messy.csv', 'nhl 2014 full draft.csv' , 'nhl 2014 round 1.csv')

In [372]:
# Join totals table with full draft table, sort by ps/60, apply new index based on PS/60
def create_ps60_rank(full_draft_filename, ps_60_filename):
    full_draft = pd.read_csv('nhl/'+ full_draft_filename)
    full_draft = full_draft.join(totals, on='Full Name', how='left')
    ps60_rank = full_draft.sort_values('PS/60', ascending=False).reset_index(drop=True)
    counter = 0
    for i, row in ps60_rank.iterrows():
        if pd.isnull(row['TOI']) and counter == 0:
            tied_for_last = i+1
            counter = 1
            ps60_rank.set_value(i, 'PS/60 Rank', i+1)
        elif pd.isnull(row['TOI']):
            ps60_rank.set_value(i, 'PS/60 Rank', tied_for_last)
        else:
            ps60_rank.set_value(i, 'PS/60 Rank', i+1)
    # Isolate last name for name checking purposes
    ps60_rank['Last Name'] = ps60_rank['Full Name'].str.rpartition(' ')[2]
    ps60_rank = ps60_rank[['Full Name', 'Last Name', 'TOI', 'PS', 'PS/60','PS/60 Rank']]
    ps60_rank.to_csv('ps/' + ps_60_filename, index=False, float_format='%d')
    return ps60_rank

In [373]:
create_ps60_rank('nhl 2010 full draft.csv', 'ps 2010.csv').head()

            Full Name  Last Name           TOI    PS      PS/60  PS/60 Rank
0  Vladimir Tarasenko  Tarasenko  4329.1166667  30.7  0.4254910         1.0
1        Tyler Seguin     Seguin  7428.9833333  47.8  0.3860555         2.0
2       Tyler Toffoli    Toffoli  3450.4166667  21.5  0.3738679         3.0
3     Scott Wedgewood  Wedgewood   240.7500000   1.3  0.3239875         4.0
4      John Klingberg  Klingberg  3144.0000000  16.9  0.3225191         5.0

In [374]:
create_ps60_rank('nhl 2011 full draft.csv', 'ps 2011.csv').head()

         Full Name Last Name           TOI    PS      PS/60  PS/60 Rank
0  Nikita Kucherov  Kucherov  3310.3333333  21.0  0.3806263         1.0
1  Johnny Gaudreau  Gaudreau  2991.8666667  17.0  0.3409243         2.0
2     Ondrej Palat     Palat  4043.3333333  21.3  0.3160758         3.0
3     Brandon Saad      Saad  4813.8000000  22.8  0.2841830         4.0
4       Josh Leivo     Leivo   285.6833333   1.3  0.2730296         5.0

In [375]:
create_ps60_rank('nhl 2012 full draft.csv', 'ps 2012.csv').head()

             Full Name     Last Name           TOI   PS      PS/60  PS/60 Rank
0  Shayne Gostisbehere  Gostisbehere  1310.9000000  8.7  0.3981997         1.0
1   Andreas Athanasiou    Athanasiou   333.6500000  2.1  0.3776412         2.0
2       Colton Parayko       Parayko  1531.5666667  8.8  0.3447450         3.0
3       Filip Forsberg      Forsberg  1646.1333333  8.2  0.2988822         4.0
4         Connor Brown         Brown   104.8000000  0.5  0.2862595         5.0

In [376]:
create_ps60_rank('nhl 2013 full draft.csv', 'ps 2013.csv').head(9)

             Full Name    Last Name           TOI    PS      PS/60  PS/60 Rank
0   Oliver Bjorkstrand  Bjorkstrand   191.7166667   1.3  0.4068504         1.0
1  Kristers Gudlevskis   Gudlevskis   119.9500000   0.8  0.4001667         2.0
2        Shea Theodore     Theodore   363.0666667   2.3  0.3800955         3.0
3    Mackenzie Skapski      Skapski   119.0833333   0.6  0.3023093         4.0
4      Anthony Duclair      Duclair  1383.5500000   6.5  0.2818836         5.0
5     Nathan MacKinnon    MacKinnon  3871.4166667  17.1  0.2650193         6.0
6             Max Domi         Domi  1326.3166667   5.8  0.2623808         7.0
7     Andre Burakovsky   Burakovsky  1713.7333333   7.4  0.2590835         8.0
8         Sean Monahan      Monahan  4340.1000000  18.4  0.2543720         9.0

In [377]:
create_ps60_rank('nhl 2014 full draft.csv', 'ps 2014.csv').head()

          Full Name Last Name           TOI    PS      PS/60  PS/60 Rank
0    David Pastrnak  Pastrnak  1353.9666667   7.1  0.3146311         1.0
1      Aaron Ekblad    Ekblad  3457.4333333  16.7  0.2898104         2.0
2      Robby Fabbri    Fabbri   958.6833333   4.6  0.2878949         3.0
3      Dylan Larkin    Larkin  1323.5333333   6.0  0.2719992         4.0
4  William Nylander  Nylander   359.4333333   1.6  0.2670871         5.0

# CALCULATING SCOUTING PERFORMANCE

In [378]:
# Calculate absolute difference between source rank and PS/60 rank
def abs_diff(source_filename, ps_60_filename):
    source = pd.read_csv(source_filename)
    ps60 = pd.read_csv(ps_60_filename)
    abs_diff = pd.merge(source, ps60, on='Full Name', how='left')
    abs_diff = abs_diff[['Full Name', 'Source Rank', 'PS/60 Rank']]
    abs_diff['Absolute Difference'] = abs(abs_diff['Source Rank'] - abs_diff['PS/60 Rank'])
    return abs_diff

## Actual NHL Draft Order

### NHL 2010

In [379]:
abs_diff_nhl_2010 = abs_diff('nhl/nhl 2010 round 1.csv', 'ps/ps 2010.csv')
abs_diff_nhl_2010.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0        Taylor Hall            1           6                    5
1       Tyler Seguin            2           2                    0
2    Erik Gudbranson            3          60                   57
3      Ryan Johansen            4          14                   10
4  Nino Niederreiter            5          26                   21

In [380]:
abs_diff_nhl_2010['Absolute Difference'].sum()

791

### NHL 2011

In [381]:
abs_diff_nhl_2011 = abs_diff('nhl/nhl 2011 round 1.csv', 'ps/ps 2011.csv')
abs_diff_nhl_2011.head()

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0  Ryan Nugent-Hopkins            1          15                   14
1    Gabriel Landeskog            2           8                    6
2   Jonathan Huberdeau            3          12                    9
3         Adam Larsson            4          20                   16
4          Ryan Strome            5          19                   14

In [382]:
abs_diff_nhl_2011['Absolute Difference'].sum()

868

### NHL 2012

In [383]:
abs_diff_nhl_2012 = abs_diff('nhl/nhl 2012 round 1.csv', 'ps/ps 2012.csv')
abs_diff_nhl_2012.head()

          Full Name  Source Rank  PS/60 Rank  Absolute Difference
0      Nail Yakupov            1          30                   29
1       Ryan Murray            2          27                   25
2   Alex Galchenyuk            3           6                    3
3  Griffin Reinhart            4          50                   46
4     Morgan Rielly            5          25                   20

In [384]:
abs_diff_nhl_2012['Absolute Difference'].sum()

634

### NHL 2013

In [385]:
abs_diff_nhl_2013 = abs_diff('nhl/nhl 2013 round 1.csv', 'ps/ps 2013.csv')
abs_diff_nhl_2013.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0   Nathan MacKinnon            1           6                    5
1  Aleksander Barkov            2          12                   10
2    Jonathan Drouin            3          15                   12
3         Seth Jones            4          19                   15
4     Elias Lindholm            5          23                   18

In [386]:
abs_diff_nhl_2013['Absolute Difference'].sum()

362

### NHL 2014

In [387]:
# abs_diff_nhl_2014 = abs_diff('nhl/nhl 2014 round 1.csv', 'ps/ps 2014.csv')
# abs_diff_nhl_2014.head()

In [388]:
# abs_diff_nhl_2014['Absolute Difference'].sum()

### NHL Average Total Absolute Difference

In [389]:
total_nhl = abs_diff_nhl_2010['Absolute Difference'].sum() + \
            abs_diff_nhl_2011['Absolute Difference'].sum() + \
            abs_diff_nhl_2012['Absolute Difference'].sum() + \
            abs_diff_nhl_2013['Absolute Difference'].sum()
total_nhl / 4

663

## Pronman

### Pronman 2010

In [390]:
abs_diff_pronman_2010 = abs_diff('pronman/pronman 2010.csv', 'ps/ps 2010.csv')
abs_diff_pronman_2010.head()

         Full Name  Source Rank  PS/60 Rank  Absolute Difference
0      Taylor Hall            1           6                    5
1     Tyler Seguin            2           2                    0
2       Cam Fowler            3          30                   27
3   Kirill Kabanov            4          83                   79
4  Brandon Gormley            5          56                   51

In [391]:
abs_diff_pronman_2010['Absolute Difference'].sum()

873

### Pronman 2011

In [392]:
abs_diff_pronman_2011 = abs_diff('pronman/pronman 2011.csv', 'ps/ps 2011.csv')
abs_diff_pronman_2011.head()

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0  Ryan Nugent-Hopkins            1          15                   14
1       Sean Couturier            2          40                   38
2          Ryan Strome            3          19                   16
3   Jonathan Huberdeau            4          12                    8
4         Adam Larsson            5          20                   15

In [393]:
abs_diff_pronman_2011['Absolute Difference'].sum()

928

### Pronman 2012

In [394]:
abs_diff_pronman_2012 = abs_diff('pronman/pronman 2012.csv', 'ps/ps 2012.csv')
abs_diff_pronman_2012.head()

            Full Name  Source Rank  PS/60 Rank  Absolute Difference
0        Nail Yakupov            1          30                   29
1  Mikhail Grigorenko            2          42                   40
2     Alex Galchenyuk            3           6                    3
3      Filip Forsberg            4           4                    0
4    Teuvo Teravainen            5          28                   23

In [395]:
abs_diff_pronman_2012['Absolute Difference'].sum()

705

### Pronman 2013

In [396]:
abs_diff_pronman_2013 = abs_diff('pronman/pronman 2013.csv', 'ps/ps 2013.csv')
abs_diff_pronman_2013.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0    Jonathan Drouin            1          15                   14
1   Nathan MacKinnon            2           6                    4
2         Seth Jones            3          19                   16
3  Valeri Nichushkin            4          20                   16
4  Aleksander Barkov            5          12                    7

In [397]:
abs_diff_pronman_2013['Absolute Difference'].sum()

341

### Pronman 2014

In [398]:
# abs_diff_pronman_2014 = abs_diff('pronman/pronman 2014.csv', 'ps/ps 2014.csv')
# abs_diff_pronman_2014.head()

In [399]:
# abs_diff_pronman_2014['Absolute Difference'].sum()

### Pronman Average Total Absolute Difference

In [400]:
total_pronman = abs_diff_pronman_2010['Absolute Difference'].sum() + \
                abs_diff_pronman_2011['Absolute Difference'].sum() + \
                abs_diff_pronman_2012['Absolute Difference'].sum() + \
                abs_diff_pronman_2013['Absolute Difference'].sum()
total_pronman / 4

711

## Button

### Button 2011

In [401]:
abs_diff_button_2011 = abs_diff('button/button 2011.csv', 'ps/ps 2011.csv')
abs_diff_button_2011.head()

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0  Ryan Nugent-Hopkins            1          15                   14
1   Jonathan Huberdeau            2          12                   10
2    Gabriel Landeskog            3           8                    5
3          Ryan Murphy            4          36                   32
4       Mika Zibanejad            5          18                   13

In [402]:
abs_diff_button_2011['Absolute Difference'].sum()

721

### Button 2012

In [403]:
abs_diff_button_2012 = abs_diff('button/button 2012.csv', 'ps/ps 2012.csv')
abs_diff_button_2012.head()

          Full Name  Source Rank  PS/60 Rank  Absolute Difference
0      Nail Yakupov            1          30                   29
1        Matt Dumba            2           9                    7
2     Morgan Rielly            3          25                   22
3   Alex Galchenyuk            4           6                    2
4  Teuvo Teravainen            5          28                   23

In [404]:
abs_diff_button_2012['Absolute Difference'].sum()

656

### Button 2013

In [405]:
abs_diff_button_2013 = abs_diff('button/button 2013.csv', 'ps/ps 2013.csv')
abs_diff_button_2013.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0         Seth Jones            1          19                   18
1    Jonathan Drouin            2          15                   13
2   Nathan MacKinnon            3           6                    3
3  Aleksander Barkov            4          12                    8
4  Valeri Nichushkin            5          20                   15

In [406]:
abs_diff_button_2013['Absolute Difference'].sum()

389

### Button Average Total Absolute Difference

In [407]:
total_button = abs_diff_button_2011['Absolute Difference'].sum() + \
               abs_diff_button_2012['Absolute Difference'].sum() + \
               abs_diff_button_2013['Absolute Difference'].sum()
total_button / 3

588

## McKenzie

### McKenzie 2010

In [408]:
abs_diff_mckenzie_2010 = abs_diff('mckenzie/mckenzie 2010.csv', 'ps/ps 2010.csv')
abs_diff_mckenzie_2010.head()

         Full Name  Source Rank  PS/60 Rank  Absolute Difference
0      Taylor Hall            1           6                    5
1     Tyler Seguin            2           2                    0
2  Erik Gudbranson            3          60                   57
3  Brandon Gormley            4          56                   52
4       Cam Fowler            5          30                   25

In [409]:
abs_diff_mckenzie_2010['Absolute Difference'].sum()

861

### McKenzie 2011

In [410]:
abs_diff_mckenzie_2011 = abs_diff('mckenzie/mckenzie 2011.csv', 'ps/ps 2011.csv')
abs_diff_mckenzie_2011.head()

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0  Ryan Nugent-Hopkins            1          15                   14
1         Adam Larsson            2          20                   18
2   Jonathan Huberdeau            3          12                    9
3    Gabriel Landeskog            4           8                    4
4       Sean Couturier            5          40                   35

In [411]:
abs_diff_mckenzie_2011['Absolute Difference'].sum()

783

### McKenzie 2012

In [412]:
abs_diff_mckenzie_2012 = abs_diff('mckenzie/mckenzie 2012.csv', 'ps/ps 2012.csv')
abs_diff_mckenzie_2012.head()

          Full Name  Source Rank  PS/60 Rank  Absolute Difference
0      Nail Yakupov            1          30                   29
1       Ryan Murray            2          27                   25
2    Filip Forsberg            3           4                    1
3  Griffin Reinhart            4          50                   46
4   Alex Galchenyuk            5           6                    1

In [413]:
abs_diff_mckenzie_2012['Absolute Difference'].sum()

604

### McKenzie 2013

In [414]:
abs_diff_mckenzie_2013 = abs_diff('mckenzie/mckenzie 2013.csv', 'ps/ps 2013.csv')
abs_diff_mckenzie_2013.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0   Nathan MacKinnon            1           6                    5
1         Seth Jones            2          19                   17
2    Jonathan Drouin            3          15                   12
3  Aleksander Barkov            4          12                    8
4     Elias Lindholm            5          23                   18

In [415]:
abs_diff_mckenzie_2013['Absolute Difference'].sum()

359

### McKenzie Average Total Absolute Difference

In [416]:
total_mckenzie = abs_diff_mckenzie_2010['Absolute Difference'].sum() + \
                 abs_diff_mckenzie_2011['Absolute Difference'].sum() + \
                 abs_diff_mckenzie_2012['Absolute Difference'].sum() + \
                 abs_diff_mckenzie_2013['Absolute Difference'].sum()
total_mckenzie / 4

651

## ISS

### ISS 2010

In [417]:
abs_diff_iss_2010 = abs_diff('iss/iss 2010.csv', 'ps/ps 2010.csv')
abs_diff_iss_2010.head()

            Full Name  Source Rank  PS/60 Rank  Absolute Difference
0         Taylor Hall            1           6                    5
1        Tyler Seguin            2           2                    0
2     Brandon Gormley            3          56                   53
3  Vladimir Tarasenko            4           1                    3
4          Cam Fowler            5          30                   25

In [418]:
abs_diff_iss_2010['Absolute Difference'].sum()

780

### ISS 2011

In [419]:
abs_diff_iss_2011 = abs_diff('iss/iss 2011.csv', 'ps/ps 2011.csv')
abs_diff_iss_2011.head()

             Full Name  Source Rank  PS/60 Rank  Absolute Difference
0  Ryan Nugent-Hopkins            1          15                   14
1         Adam Larsson            2          20                   18
2   Jonathan Huberdeau            3          12                    9
3       Sean Couturier            4          40                   36
4    Gabriel Landeskog            5           8                    3

In [420]:
abs_diff_iss_2011['Absolute Difference'].sum()

806

### ISS 2012

In [421]:
abs_diff_iss_2012 = abs_diff('iss/iss 2012.csv', 'ps/ps 2012.csv')
abs_diff_iss_2012.head()

            Full Name  Source Rank  PS/60 Rank  Absolute Difference
0        Nail Yakupov            1          30                   29
1      Filip Forsberg            2           4                    2
2         Ryan Murray            3          27                   24
3  Mikhail Grigorenko            4          42                   38
4        Jacob Trouba            5          18                   13

In [422]:
abs_diff_iss_2012['Absolute Difference'].sum()

673

### ISS 2013

In [423]:
abs_diff_iss_2013 = abs_diff('iss/iss 2013.csv', 'ps/ps 2013.csv')
abs_diff_iss_2013.head()

           Full Name  Source Rank  PS/60 Rank  Absolute Difference
0   Nathan MacKinnon            1           6                    5
1         Seth Jones            2          19                   17
2    Jonathan Drouin            3          15                   12
3  Valeri Nichushkin            4          20                   16
4  Aleksander Barkov            5          12                    7

In [424]:
abs_diff_iss_2013['Absolute Difference'].sum()

345

### ISS Average Total Absolute Difference

In [425]:
total_iss = abs_diff_iss_2010['Absolute Difference'].sum() + \
            abs_diff_iss_2011['Absolute Difference'].sum() + \
            abs_diff_iss_2012['Absolute Difference'].sum() + \
            abs_diff_iss_2013['Absolute Difference'].sum()
total_iss / 4

651