In [566]:
import pandas as pd

def print_full(x):
    pd.set_option('display.max_rows', len(x))
    print(x)
    pd.reset_option('display.max_rows')

In [567]:
def slim_table(filename, season, player_type):
    full = pd.read_excel(filename)
    
    # Adjusting all player type tables
    full['Full Name'] = full['First Name'] + " " + full['Last Name']
    if filename != 'NHL Data 1967-2014.xls':
        full['Season'] = season
    
    # Adjusting goalie tables
    if player_type == "goalie":
        full.rename(columns={'MIN': 'TOI', "GPS" : "PS"}, inplace=True)
        
        if filename == 'NHL Goalies 2014-15.xls':
            full.rename(columns={'All Tm': 'Team'}, inplace=True)
            
        if filename == "NHL Goalies 2015-16.xls":
            full.rename(columns={'TOI': 'TOI (seconds)'}, inplace=True)
            full['TOI'] = full['TOI (seconds)'] / 60
    
    # Adjusting skater tables
    elif player_type == "skater" and filename != 'NHL Data 1967-2014.xls':
        full.rename(columns={'Teams': 'Team'}, inplace=True)
        
        if filename == "NHL 2015-16.xls":
            full.rename(columns={'TOI': 'TOI (seconds)'}, inplace=True)
            full['TOI'] = full['TOI (seconds)'] / 60
    
    # Calculate catch-all statistics
    full['PS/60'] = full['PS'] / full['TOI'] * 60
    full['GVT/60'] = full['GVT'] / full['TOI'] * 60
    
    # Select important columns
    slim = full[['Full Name', 'Season', 'Team', 'TOI', 'PS', 'GVT', 'PS/60', 'GVT/60']]
    
    return slim

In [568]:
master = slim_table('NHL Data 1967-2014.xls', 'multiple', 'skater')

In [569]:
# Since 2001
master = master.loc[master['Season'] > '2001']
master.head()

# test = pd.read_excel('NHL Data 1967-2014.xls')
# test['PS/60'] = test['PS'] / test['TOI'] * 60
# test['GVT/60'] = test['GVT'] / test['TOI'] * 60
# test = test[['Last Name', 'First Name', 'Season', 'Team', 'TOI', \
#                  'PS', 'GVT', 'PS/60', 'GVT/60']].loc[test['Season'] > '2001']
# test.head()

                Full Name   Season Team   TOI   PS  GVT     PS/60    GVT/60
19823         Craig Adams  2001-02  CAR   195 -0.1 -0.4 -0.030769 -0.123077
19824         Kevyn Adams  2001-02  TOT   887  0.8  0.3  0.054115  0.020293
19825  Dmitry Afanasenkov  2001-02  TBL    25 -0.1 -0.2 -0.240000 -0.480000
19826    Maxim Afinogenov  2001-02  BUF  1245  4.4  7.2  0.212048  0.346988
19827       Tommy Albelin  2001-02  NJD   560  1.3  2.1  0.139286  0.225000

In [570]:
skaters_1415 = slim_table('NHL 2014-15.xls', '2014-15', 'skater')
skaters_1415.head()
# print_full(skaters_1415)

           Full Name   Season Team          TOI   PS  GVT     PS/60    GVT/60
0  Justin Abdelkader  2014-15  DET  1271.600000  5.6  8.0  0.264234  0.377477
1         Will Acton  2014-15  EDM    32.133333 -0.1 -0.4 -0.186722 -0.746888
2          Luke Adam  2014-15  CBJ    19.333333  0.0 -0.1  0.000000 -0.310345
3        Craig Adams  2014-15  PIT   682.183333 -0.3  1.3 -0.026386  0.114339
4    Andrew Agozzino  2014-15  COL     9.750000  0.1  0.3  0.615385  1.846154

In [571]:
skaters_1516 = slim_table('NHL 2015-16.xls', '2015-16', 'skater')
skaters_1516.head()
# print_full(skaters_1516)

           Full Name   Season Team          TOI   PS  GVT     PS/60    GVT/60
0  Justin Abdelkader  2015-16  DET  1511.716667  3.8  4.3  0.150822  0.170667
1       Noel Acciari  2015-16  BOS   187.950000 -0.4 -0.9 -0.127694 -0.287310
2     Kenny Agostino  2015-16  CGY    27.100000 -0.1 -0.3 -0.221402 -0.664207
3    Andrew Agozzino  2015-16  COL    77.050000  0.1  0.1  0.077872  0.077872
4        Karl Alzner  2015-16  WSH  1752.750000  5.4  8.6  0.184852  0.294395

In [572]:
goalies_1112 = slim_table('NHL Goalies 2011-12.xls', '2011-12', 'goalie')
goalies_1112.head()
# print_full(goalies_1112)

          Full Name   Season Team     TOI    PS  GVT     PS/60    GVT/60
0    Craig Anderson  2011-12  OTT  3492.3  11.7  8.6  0.201014  0.147754
1         Alex Auld  2011-12  OTT   645.0   0.8 -7.5  0.074419 -0.697674
2   Richard Bachman  2011-12  DAL   933.1   2.7  0.6  0.173615  0.038581
3  Niklas Backstrom  2011-12  MIN  2589.7   8.8  8.2  0.203885  0.189983
4  Jonathan Bernier  2011-12  LAK   890.2   2.1 -0.1  0.141541 -0.006740

In [573]:
goalies_1213 = slim_table('NHL Goalies 2012-13.xls', '2012-13', 'goalie')
goalies_1213.head()
# print_full(goalies_1213)

          Full Name   Season Team          TOI   PS   GVT     PS/60    GVT/60
0  Sami Aittokallio  2012-13  COL    49.333333  0.2   0.4  0.243243  0.486486
1        Jake Allen  2012-13  STL   803.883333  1.8   1.4  0.134348  0.104493
2    Craig Anderson  2012-13  OTT  1420.600000  6.5  23.1  0.274532  0.975644
3   Richard Bachman  2012-13  DAL   608.833333  0.9  -5.0  0.088694 -0.492746
4  Niklas Backstrom  2012-13  MIN  2368.133333  6.2   2.1  0.157086  0.053206

In [574]:
goalies_1314 = slim_table('NHL Goalies 2013-14.xls', '2013-14', 'goalie')
goalies_1314.head()
# print_full(goalies_1314)

           Full Name   Season Team   TOI   PS   GVT     PS/60    GVT/60
0   Sami Aittokallio  2013-14  COL    40 -0.1  -1.1 -0.150000 -1.650000
1  Frederik Andersen  2013-14  ANA  1569  5.6  10.7  0.214149  0.409178
2     Craig Anderson  2013-14  OTT  3000  9.5   1.3  0.190000  0.026000
3    Richard Bachman  2013-14  EDM   139  0.5  -0.6  0.215827 -0.258993
4   Niklas Backstrom  2013-14  MIN  1094  2.3  -5.7  0.126143 -0.312614

In [575]:
goalies_1415 = slim_table('NHL Goalies 2014-15.xls', '2014-15', 'goalie')
goalies_1415.head()
# print_full(goalies_1415)

           Full Name   Season Team          TOI   PS   GVT     PS/60    GVT/60
0         Jake Allen  2014-15  STL  2077.033333  5.3   6.7  0.153103  0.193545
1  Frederik Andersen  2014-15  ANA  3105.716667  8.6   6.6  0.166145  0.127507
2     Craig Anderson  2014-15  OTT  2092.516667  8.0  11.8  0.229389  0.338349
3    Richard Bachman  2014-15  EDM   316.716667  0.9   0.4  0.170499  0.075778
4   Niklas Backstrom  2014-15  MIN  1004.883333  1.2  -8.3  0.071650 -0.495580

In [576]:
goalies_1516 = slim_table('NHL Goalies 2015-16.xls', '2015-16', 'goalie')
goalies_1516.head()
# print_full(goalies_1516)

,Full Name,Season,Team,TOI,PS,GVT,PS/60,GVT/60
0,Jake Allen,2015-16,STL,2583.366667,8.2,13.6,0.190449,0.315867
1,Frederik Andersen,2015-16,ANA,2297.933333,7.0,8.5,0.182773,0.221939
2,Craig Anderson,2015-16,OTT,3477.133333,11.6,6.4,0.200165,0.110436
3,Richard Bachman,2015-16,VAN,59.866667,0.1,-0.2,0.100223,-0.200445
4,Niklas Backstrom,2015-16,CGY,232.716667,0.2,-2.6,0.051565,-0.670343

In [577]:
# Append skaters data from 14-15 to 15-16 to master table
master = master.append([skaters_1415, skaters_1516])

# Append goalies data from 11-12 to 15-16 to master table
master = master.append([goalies_1112, goalies_1213, goalies_1314, goalies_1415, goalies_1516])

In [578]:
# Clean duplicate name issues
name_mapping = {
                 'TJ Brennan': 'T.J. Brennan',
                 'TJ Brodie': 'T.J. Brodie',
                 'Mike Cammalleri': 'Michael Cammalleri',
                 'Matthew Carle': 'Matt Carle',
                 'Michael Ferland': 'Micheal Ferland',
                 'TJ Galiardi': 'T.J. Galiardi',
                 'Mike Kostka': 'Michael Kostka',
                 'Nikolai Kulemin': 'Nikolay Kulemin',
                 'Jonathon Merrill': 'Jon Merrill',
                 'Dave Moss': 'David Moss',
                 'Matthew Nieto': 'Matt Nieto',
                 'Pierre-Alexandre Parenteau': 'P.A. Parenteau',
                 'Alex Steen': 'Alexander Steen',
                 'Maxime Talbot': 'Max Talbot',
                 'Chris Tanev': 'Christopher Tanev'
               }


for i, row in master.iterrows():
    for bad_name in name_mapping:
        if row['Full Name'] == bad_name:
            master.set_value(i, 'Full Name', name_mapping[bad_name])

In [579]:
# Sort data by season then full name
master = master.sort_values(['Season', 'Full Name'])

In [580]:
totals = master.groupby(['Full Name'])[['TOI', 'PS', 'GVT']].sum()

In [581]:
totals['PS/60'] = totals['PS'] / totals['TOI'] * 60
totals['GVT/60'] = totals['GVT'] / totals['TOI'] * 60

# Minimum 200 minutes TOI
totals = totals.loc[totals['TOI'] > 200]
totals = totals.sort_values('PS/60', ascending=False)
totals

                              TOI     PS    GVT     PS/60    GVT/60
Full Name
Sidney Crosby        14841.300000  116.5  215.6  0.470983  0.871622
Peter Forsberg        4577.000000   35.8   64.0  0.469303  0.838977
Alex Ovechkin        17872.766667  132.8  225.8  0.445818  0.758025
Evgeni Malkin        13142.250000   93.4  162.7  0.426411  0.742795
Vladimir Tarasenko    4329.116667   30.7   53.5  0.425491  0.741491
Steven Stamkos       11242.250000   76.9  127.9  0.410416  0.682604
Connor McDavid         849.816667    5.8   10.2  0.409500  0.720155
Shayne Gostisbehere   1310.900000    8.7   11.2  0.398200  0.512625
Artemi Panarin        1481.633333    9.8   17.0  0.396859  0.688429
Tyler Seguin          7428.983333   47.8   88.8  0.386056  0.717191
Ziggy Palffy          4551.000000   29.0   48.7  0.382334  0.642057
Nikita Kucherov       3310.333333   21.0   36.4  0.380626  0.659752
Shea Theodore          363.066667    2.3    3.0  0.380095  0.495777
Marian Gaborik       15772.133333   99.7  154.5  0.379277  0.587745
Andreas Athanasiou     333.650000    2.1    4.3  0.377641  0.773265
Patrick Kane         12817.550000   79.9  152.1  0.374018  0.711993
Tyler Toffoli         3450.416667   21.5   38.1  0.373868  0.662529
Pavel Datsyuk        17980.466667  111.3  214.2  0.371403  0.714776
Eric Daze             2655.000000   16.4   27.2  0.370621  0.614689
Jason Spezza         15433.250000   94.8  166.0  0.368555  0.645360
Marian Hossa         19466.200000  118.5  230.8  0.365248  0.711387
Joe Thornton         21678.800000  129.6  237.1  0.358691  0.656217
Daniel Sedin         18491.633333  110.1  183.0  0.357243  0.593782
Jamie Benn            9376.533333   55.8  101.8  0.357062  0.651413
Corey Perry          14726.783333   87.0  146.9  0.354456  0.598501
Markus Naslund       10509.000000   61.7  101.5  0.352269  0.579503
Thomas Vanek         13764.883333   80.7  132.6  0.351765  0.577993
Jonathan Toews       12721.433333   74.1  151.0  0.349489  0.712184
Jaromir Jagr         16271.833333   94.5  155.4  0.348455  0.573015
Jarome Iginla        22151.766667  128.4  211.7  0.347783  0.573408
...                           ...    ...    ...       ...       ...
Jeremy Reich           811.000000   -1.2   -4.1 -0.088779 -0.303329
Gordie Dwyer           337.000000   -0.5   -1.7 -0.089021 -0.302671
Ben Simon              539.000000   -0.8   -1.7 -0.089054 -0.189239
Lance Pitlick          328.000000   -0.5   -2.0 -0.091463 -0.365854
Darcy Verot            326.000000   -0.5   -1.5 -0.092025 -0.276074
Jim Cummins            380.000000   -0.6   -2.0 -0.094737 -0.315789
Billy Tibbetts         569.000000   -0.9   -1.7 -0.094903 -0.179262
Ben Street             306.200000   -0.5   -1.4 -0.097975 -0.274331
Kenndal McArdle        356.000000   -0.6   -2.1 -0.101124 -0.353933
Joe Finley             230.000000   -0.4   -1.0 -0.104348 -0.260870
Joey Tetarenko         228.000000   -0.4   -1.9 -0.105263 -0.500000
Boyd Kane              227.000000   -0.4   -1.0 -0.105727 -0.264317
Bob Corkum            1133.000000   -2.0   -4.5 -0.105914 -0.238305
Tommy Westlund         444.000000   -0.8   -1.5 -0.108108 -0.202703
John McCarthy          859.083333   -1.6   -3.6 -0.111747 -0.251431
Brad Mills             258.000000   -0.5   -0.8 -0.116279 -0.186047
Shane Endicott         514.000000   -1.0   -1.8 -0.116732 -0.210117
Brendan Gaunce         255.166667   -0.5   -1.4 -0.117570 -0.329197
Steven Goertzen        571.000000   -1.2   -3.0 -0.126095 -0.315236
Michael McCarron       233.633333   -0.5   -1.7 -0.128406 -0.436582
Rob Globke             316.000000   -0.7   -1.6 -0.132911 -0.303797
Carter Ashton          400.566667   -0.9   -2.6 -0.134809 -0.389448
Derek Grant            397.183333   -0.9   -1.2 -0.135957 -0.181276
Scott Timmins          259.000000   -0.6   -1.6 -0.138996 -0.370656
David Cullen           215.000000   -0.5   -1.2 -0.139535 -0.334884
Sylvain Blouin         501.000000   -1.2   -2.7 -0.143713 -0.323353
Garrett Wilson         320.483333   -0.8   -2.1 -0.149774 -0.393156
Greg Stewart           204.000000   -0.6   -1.3 -0.176471 -0.382353
Nathan Smith           202.000000   -0.6   -1.1 -0.178218 -0.326733
Ben Ondrus             420.000000   -1.5   -3.1 -0.214286 -0.442857

[2163 rows x 5 columns]

In [582]:
writer = pd.ExcelWriter('pandas_simple.xlsx', engine='xlsxwriter')

# Convert the dataframe to an XlsxWriter Excel object.
totals.to_excel(writer, sheet_name='Sheet1')

# Close the Pandas Excel writer and output the Excel file.
writer.save()